--extra-index-url https://download.pytorch.org/whl/cu121
--find-links https://data.pyg.org/whl/torch-2.4.1+cu121.html

torch==2.4.1
torchvision==0.19.1
torchaudio==2.4.1
torch-scatter
torch-sparse
torch-cluster
torch-spline-conv

lightning==2.4.0
lightning-utilities==0.14.3
transformers==4.43.4
peft==0.15.2
datasets
numpy==1.26.0
rdkit-pypi
easydict
deepspeed
openai